html,body {
  background: #EFF3F4;
  font-family: 'Open Sans', serif;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}
h2, .bold {
    font-weight: 900;
}
.hero-body .container {
  max-width: 700px;
}
.container {
    padding:10px;
}
.hero-body .title {
  color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
  color: hsl(192,17%,99%) !important;
  padding-top: 2rem;
  line-height: 1.5;
}
.features {
  padding: 5rem ;
    height: 100vh;
}

.pad {
    padding-bottom: 40px;
}
.pad-top {
    padding-top: 40px;
}
.open {
    background-image: url(/images/background.jpg);
    background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
}
.heroLink {
    text-decoration: none;
    color: white;
}


a {
    color:hsl(0, 0%, 29%);
    text-decoration: none;
}

a:hover {
   color:#286D8D;
}

.rule {
    background-color: #286D8D;
    height:3px;
}